footer {
   background-color: $alternate-color;
}

.footer {
   &__container {
   }

   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 35px 0;

      @media (max-width: ($t-res+px)) {
         padding: customCalc($t-res, $m-res, 35, 8) 0;
      }
   }

   &__logo,
   &__coin {
      height: 90px;
      img {
         height: 100%;
         object-fit: contain;
      }

      @media (max-width: ($t-res+px)) {
         height: customCalc($t-res, $m-res, 90, 50);
      }
   }

   &__list {
      margin-bottom: 30px;
   }

   &__credentials {
      text-align: center;

      &::before {
         font-weight: 600;
         color: $light-brown-color;
         font-size: calc(14 * var(--resolution-calc));
         content: "© Lorem ipsum dolor sit amet.";

         @media (max-width: ($t-res+px)) {
            color: $light-brown-color;
            font-size: customCalc($t-res, 600, 16, 12);
         }

         @media (max-width: 600px) {
            font-size: customCalc(600, $m-res, 16, 11);
            content: "© Lorem ipsum";
         }
      }
   }
}

.list-footer {
   display: flex;

   @media (max-width: ($t-res+px)) {
      display: none;
   }

   li {
      margin-right: calc(50 * var(--resolution-calc));

      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      color: $white-color;
      font-size: calc(16 * var(--resolution-calc));
      transition: all 0.2s ease;

      &:hover {
         text-decoration: underline;
      }
   }
}
