.news-page {
   padding: calc(100 * var(--resolution-calc)) 0px calc(45 * var(--resolution-calc)) 0px;

   &__heading {
      text-align: center;
      margin: 0px 0px calc(20 * var(--resolution-calc)) 0px;
   }

   &__item {
      margin: 0px 0px calc(20 * var(--resolution-calc)) 0px;

      &:last-child {
         margin: 0;
      }
   }

   &__row {
      margin: 0px 0px calc(45 * var(--resolution-calc)) 0px;
   }

   &__pagination {
      margin: 0px 0px px 0px;
   }
}

.item-news-page {
   padding: 0px 0px calc(90 * var(--resolution-calc)) 0px;
   position: relative;

   &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: calc(37 * var(--resolution-calc));
      height: calc(44 * var(--resolution-calc));
      background: url(../images/sign.svg) 100% / contain;
   }

   &:last-child {
      padding: 0px 0px 0px 0px;
      &:after {
         display: none;
      }
   }

   &__title {
      font-size: calc(18 * var(--resolution-calc));
      color: $white-color;
      font-weight: 600;
   }

   &__date {
      position: relative;
      display: inline-block;
      padding-right: calc(30 * var(--resolution-calc));

      &::after {
         content: "";
         position: absolute;
         right: calc(14 * var(--resolution-calc));
         bottom: 0;
         height: calc(100% - 5px);
         width: calc(2 * var(--resolution-calc));
         background-color: $white-color;
      }
   }

   &__text {
      font-size: calc(18 * var(--resolution-calc));
      color: $white-color;
      letter-spacing: 1px;
   }
}
