.wrap {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

body {
   min-width: $m-res + px;
   background-color: $base-color;
   font-family: "Nunito";
   min-height: 100vh;
}

main {
   flex: 1 1 100%;
}

h3 {
   font-family: "Montserrat";
   font-weight: 600;
   color: $golden-color;
   text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
   font-size: calc(30 * var(--resolution-calc));
   text-transform: uppercase;
   position: relative;
   left: -3px;

   @media (max-width: ($t-res+px)) {
      font-size: customCalc($t-res, $m-res, 21, 16);
   }
}

.container {
   max-width: $d-res + px;
   padding: 0 20px;
   margin: 0 auto;
   width: 100%;

   @media (min-width: ($w-res+px)) {
      max-width: calc($d-res/$w-res * 100vw);
      padding: 0 calc(20 / $w-res * 100vw);
   }

   @media (max-width: ($t-res+px)) {
      padding: 0 customCalc($t-res, $m-res, 20, 15);
   }

   &_narrow {
      max-width: $d-n-res + px;
      padding: 0 15px;

      @media (min-width: ($w-res+px)) {
         max-width: calc($d-n-res/($w-res) * 100vw);
      }

      @media (max-width: ($t-res+px)) {
         padding: 0 customCalc($t-res, $m-res, 15, 10);
      }
   }
}

.btn {
   display: inline-block;
   text-align: center;
   background-color: $golden-color;
   color: $alternate-color;
   border-radius: 46px;
   padding: 15px 10px;
   min-width: calc(240 * var(--resolution-calc));
   font-size: calc(20 * var(--resolution-calc));
   transition: all 0.2s linear;
   border: 2px solid transparent;
   cursor: pointer;

   @media (max-width: ($t-res+px)) {
      font-size: customCalc($t-res, $m-res, 15, 14);
      min-width: 165px;
      padding: customCalc($t-res, $m-res, 15, 9) 0 10px;
   }

   &:hover {
      background-color: transparent;
      border: 2px solid $white-color;
      color: $white-color;
   }

   &:disabled {
      color: $brown-color;
      background-color: $light-brown-color;
      border: 2px solid transparent;
   }
}

.item-video {
   width: 100%;
   height: 100%;
   position: relative;
   // background-color: $brown-color;

   iframe {
      width: 100%;
      height: 100%;
      border: none;

      @media (max-width: 600px) {
         position: absolute;
         z-index: 10;
      }
   }

   &__preview {
      height: 100%;

      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: url(../images/video_button.svg) no-repeat top left / contain;
         width: calc(124 * var(--resolution-calc));
         height: calc(90 * var(--resolution-calc));

         @media (max-width: 600px) {
            width: customCalc(600, $m-res, 80, 60);
            height: customCalc(600, $m-res, 60, 40);
         }
         cursor: pointer;
      }

      img {
         width: 100%;
         height: 100%;
      }

      &_d {
         transition: 0.5s;
         opacity: 0;
      }
   }
}

.additional {
   padding: 190px 0px 0px 0px;
   display: flex;
   flex-direction: column;

   @media (max-width: ($t-res+px)) {
      padding: customCalc($t-res, $m-res, 160, 66) 0 0;
   }

   & > section:first-child {
      border-top: 9px solid $golden-color;

      @media (max-width: ($t-res+px)) {
         border-top: none;
      }
   }

   &__heading {
      text-align: center;
   }

   &__page {
      flex: 1 1 auto;
      padding: calc(100 * var(--resolution-calc)) 0px calc(45 * var(--resolution-calc)) 0px;
      background: url(../images/blick.png) no-repeat right bottom/calc(500 * var(--resolution-calc));
   }
}

.pagination {
   display: flex;
   justify-content: center;

   &__list {
      display: flex;
   }

   &__item {
      margin: 0px 15px 0px 0px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: $brown-color;
      color: $white-color;
      cursor: pointer;
      font-family: "Montserrat";

      &_active {
         color: $alternate-color;
         background-color: $golden-color;
      }

      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
}

.loader {
   display: flex;
   justify-content: center;
   align-items: center;

   &_b {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
   }
}

.checkbox {
   input + label {
      position: relative;
      padding: 0px 0px 0px 40px;
      height: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         bottom: 0;
         height: 100%;
         width: 30px;
         background-color: $white-color;
         border-radius: 5px;
         border: 3px solid $golden-color;
      }
   }

   input:checked + label {
      &::before {
         background-color: $golden-color;
      }
   }
}

.content-block {
   position: relative;
   padding: 0px 0px calc(70 * var(--resolution-calc)) 0px;

   @media (max-width: ($t-res+px)) {
      padding: 0px 0px customCalc($t-res, $m-res, 64, 46) 0px;
   }

   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(37 * var(--resolution-calc));
      height: calc(44 * var(--resolution-calc));
      background: url(../images/sign.svg) no-repeat 100% / contain;

      @media (max-width: ($t-res+px)) {
         height: customCalc($t-res, $m-res, 64, 40);
         width: customCalc($t-res, $m-res, 35, 25);
      }
   }

   &__heading {
      text-align: center;
      margin: 0px 0px calc(30 * var(--resolution-calc)) 0px;
   }

   &__text {
      color: $white-color;
      margin: 0px 0px calc(30 * var(--resolution-calc)) 0px;
      font-size: calc(18 * var(--resolution-calc));

      @media (max-width: ($t-res+px)) {
         font-size: customCalc($t-res, $m-res, 16, 12);
      }

      &_b {
         font-weight: 700;
      }

      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }

   &__item {
      display: flex;
   }

   &__content {
      margin: 0px calc(30 * var(--resolution-calc)) 0px 0px;
   }

   &__img {
      flex: 0 0 calc(330 * var(--resolution-calc));
      align-self: flex-start;

      @media (max-width: ($t-res+px)) {
         display: none;
      }

      img {
         width: 100%;
         object-fit: cover;
      }

      p {
         text-align: right;
         color: $golden-color;
         font-weight: 600;
         font-style: italic;
         font-size: calc(18 * var(--resolution-calc));
      }
   }

   &__link {
      color: $golden-color;
      text-decoration: underline;

      &_e {
         text-decoration: none;
      }
   }

   &__list {
      list-style: none;

      li {
         font-size: calc(18 * var(--resolution-calc));
         color: $white-color;

         @media (max-width: ($t-res+px)) {
            font-size: customCalc($t-res, $m-res, 16, 12);
         }
      }
   }

   &__order-list {
      li {
         position: relative;
         padding: 0px 0 0px calc(70 * var(--resolution-calc));
         margin: 0px 0px calc(20 * var(--resolution-calc)) 0px;
         counter-increment: count 1;

         &:last-child {
            margin: 0px 0px 0px 0px;
         }

         @media (max-width: ($t-res+px)) {
            padding: 0px 0 0px customCalc($t-res, $m-res, 50, 30);
            margin: 0px 0px customCalc($t-res, $m-res, 16, 10) 0px;
         }

         h5 {
            color: $golden-color;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px calc(5 * var(--resolution-calc)) 0px;
            font-size: calc(18 * var(--resolution-calc));

            @media (max-width: ($t-res+px)) {
               font-size: customCalc($t-res, $m-res, 16, 12);
            }
         }

         p {
            color: $white-color;
            font-size: calc(18 * var(--resolution-calc));

            @media (max-width: ($t-res+px)) {
               font-size: customCalc($t-res, $m-res, 16, 12);
            }
         }

         &::before {
            content: counter(count, decimal);
            position: absolute;
            top: 0;
            left: 0;
            font-size: calc(60 * var(--resolution-calc));
            line-height: 100%;
            font-family: "Montserrat";
            font-weight: 600;
            color: $golden-color;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

            @media (max-width: ($t-res+px)) {
               font-size: customCalc($t-res, $m-res, 43, 26);
            }
         }

         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: calc(50 * var(--resolution-calc));
            height: calc(60 * var(--resolution-calc));
            width: calc(1 * var(--resolution-calc));
            background-color: $golden-color;

            @media (max-width: ($t-res+px)) {
               height: customCalc($t-res, $m-res, 43, 26);
               left: customCalc($t-res, $m-res, 36, 23);
               width: 1px;
            }
         }
      }
   }
}

.drop-down {
}

.drop-down-item {
   border-top: calc(1 * var(--resolution-calc)) solid $golden-color;
   padding: calc(20 * var(--resolution-calc)) calc(20 * var(--resolution-calc)) calc(20 * var(--resolution-calc)) 0;

   @media (max-width: ($t-res+px)) {
      padding: customCalc($t-res, $m-res, 20, 12) customCalc($t-res, $m-res, 20, 15) customCalc($t-res, $m-res, 20, 15)
         0;
      border-top: 1px solid $golden-color;
   }

   &:last-child {
      border-bottom: calc(1 * var(--resolution-calc)) solid $golden-color;
   }

   &_open {
      .drop-down-item__question {
         &::before,
         &::after {
            transform: translateY(-50%) rotate(45deg);
         }
      }
   }

   &__question {
      font-size: calc(18 * var(--resolution-calc));
      color: $white-color;
      font-weight: 700;
      cursor: pointer;
      position: relative;

      @media (max-width: ($t-res+px)) {
         font-size: customCalc($t-res, $m-res, 18, 14);
      }

      &::after {
         content: "";
         position: absolute;
         right: 0;
         top: 50%;
         transition: all 0.1s ease;
         transform: translateY(-50%);
         width: calc(18 * var(--resolution-calc));
         height: calc(18 * var(--resolution-calc));
         background: url(../images/plus.svg) no-repeat center/contain;

         @media (max-width: ($t-res+px)) {
            width: customCalc($t-res, $m-res, 18, 14);
            height: customCalc($t-res, $m-res, 18, 14);
         }
      }
   }

   &__answer {
      color: $white-color;
      font-size: calc(18 * var(--resolution-calc));

      @media (max-width: ($t-res+px)) {
         font-size: customCalc($t-res, $m-res, 18, 14);
      }
   }
}
